.success {
    background-color: darkseagreen;

}

.error {
    background-color: rosybrown;
}

.navbar-text {
	float: right;
}

#navtext {
	margin-top: 20px;
	float: right;
}



#logo {
	height: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	float: left;
	
}

a.navbar-brand {
	padding: 0px 5px;
}

#login {
	float: right;
	padding: 10px 10px;
	margin: 10px;
}

#compose {
	margin: 10px;
	padding: 10px 10px;
	float: left;
}

#viewlet {
	margin: 10px;
	padding: 10px 10px;
	float: left;
}


