.success {
    background-color: darkseagreen;

}

.error {
    background-color: rosybrown;
}

.navbar-text {

}



#logo {
	height: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	
}

a.navbar-brand {
	padding: 0px 5px;
}

.navbar-header {
	
}


